* {
  -webkit-user-select: none;
  /* Chrome, Safari, Android and iOS */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  user-select: none;
  /* Disables text selection */
  margin: 0;
  padding: 0;
  /* Remove margins and paddings on elements */
  box-sizing: border-box;
  /* Generate paddings inside elements */
  -webkit-tap-highlight-color: transparent;
  /* Removes the blue highlight when button tapped on mobile */

  /* for development use only */
  /* background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px red; */
}

html {
  scroll-behavior: smooth;
}


/* Utilities */
.text-description {
  font-size: 1.225rem;
  line-height: 30px;
}

.displayNone {
  display: none;
}

.noOutline {
  outline: 0;
}

.js-scroll {
  scroll-behavior: smooth;
}

a.cta-link,
a.cta-btn {
  text-decoration: none !important;
}

/* Buttons */
.cta-btn-container {
  margin: 2rem auto;
  height: auto;
}

.cta-btn {
  text-align: center;
  padding: 0.725rem 3.125rem;
  line-height: 8px;
  font-weight: 500;
  border-radius: 2px;
}

.get-in-touch-btn {
  background-color: #fff;
  color: #d67940 !important;
}

.learn-more-btn {
  background-color: #d67940;
  color: #fff !important;
}

/* Preloader*/

div#preloader {
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  background: #fff;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #d67940;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Navigation */
.logo {
  width: 120px;
  height: auto;
}

.navbar-nav {
  font-family: "WorkSans Medium", sans-serif;
}

.navbar-nav .nav-link {
  color: #53749d;
}

.dropdown-menu.w-3rem {
  min-width: 3rem !important;
  padding: 12px;
}


/* Header */

header {
  margin: 0;
}

section.hero {
  display: block;
  background-color: #285185;
  background-image: url(../assets/Hero-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.hero .hero-text-content {
  text-align: center;
  padding: 1rem;
}

.hero .hero-image {
  display: none;
}

.hero .hero-description {
  margin: 2.25rem auto;
}

.cards {
  margin: auto;
  height: 300px;
  width: 300px;
  max-width: 300px;
  text-align: center;
  border-radius: 2px;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.cards .card-icon {
  height: 38px;
  width: 38px;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.cards .card-icon img {
  height: 100%;
  width: 100%;
}

.cards.hero-card {
  background-color: #fff;
  transition: border 0.2s linear;
}

.cards.hero-card:hover {
  border-width: 1px 1px 3px 1px;
  border-color: #d67940;
}

.card-description--hero {
  color: #a7a7a7;
  font-size: 1.325rem;
}


/* ScrollToTop button */

.scrollToTop {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  transition: all .3s ease-in-out;
}

.scrollToTop.hideScrollTop {
  opacity: 0;
}

.scrollToTop.showScrollTop {
  opacity: 1;
}

.scrollToTop img {
  width: 100%;
  height: 100%;
}


/* About us section */
.about-us {
  margin-top: -30px;
  padding: 0;
}

.about-us .about-image-container {
  margin: auto;
  width: 80%;
}

.about-us .about-image-container .img-3 {
  height: auto;
  width: 100%;
}

.about-us .about-image-container .img-1,
.about-us .about-image-container .img-2 {
  width: 40%;
  height: auto;
  z-index: 2;
}

.about-us .about-image-container .img-1 {
  position: relative;
  top: 50px;
  left: 75%;
}

.about-us .about-image-container .img-2 {
  position: relative;
  bottom: 50px;
  left: -15%;
}

.about-us .about-details {
  color: #a7a7a7;
  line-height: 24px;
  font-size: 16px;
}

.about-us .about-details p {
  margin-bottom: 1.125rem;
}


/* Services section */
section.services {
  background-color: #285185;
  padding: 1rem;
}

.services .services-card {
  background-color: #285185;
}

.services .cards.card {
  border: 1px solid #fff !important;
}

.card-description--services {
  color: #fff;
}

.services-card .services-card-link {
  color: #fff;
  font-size: 1.125rem;
}


/* Testimonial section */

section.testimonials {
  background-color: #fbf3ee;
  padding: 2rem;
}

.testimonials .testimonial-container {
  margin: 3rem auto;
}

.testimonial-container .testimonial-rating {
  margin-top: 1rem;
}

.testimonial-container .testimonial-rating .fa {
  color: #fe9532;
}

.testimonial-container .testimonial-name {
  color: #285185;
  font-weight: 600;
  font-size: 1.525rem;
}

.testimonial-container .testimonial-text {
  color: #d67940;
  margin: auto;
  margin-top: 1.325rem;
  max-width: 80%;
  font-size: 1.225rem;
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel-indicators {
  position: absolute;
  bottom: -50px !important;
}

.carousel-indicators li {
  background-color: #f7e4d9 !important;
}

.carousel-indicators li.active {
  background-color: #de9466 !important;
}


/* Blog */

section.blog {
  padding: 3.5rem 0;
}

.blog .blog-cards-container {
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.blog .blog-cards-container .card-title {
  font-weight: 700;
}

.blog .blog-title {
  font-weight: 700;
  font-size: 1.825rem;
}

.blog .blog-description {
  font-size: 1.225rem;
  margin-top: 1.225rem;
}

.blog-cards-container .blog-cards {
  width: 100%;
  height: 100%;
}

.blog-cards-container .blog-card {
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .125);
}

.blog-cards.blog-card {
  border-radius: 4px;
}

.blog-card .blog-image {
  width: 100%;
  max-width: 100%
}

.blog-card .blog-image img {
  width: 100%;
  max-width: 100%;
}

.blog-card .blog-text-content {
  padding: 1rem;
}

.blog-card .blog-text-content .card-description--blog {
  margin-bottom: 1.125rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-card .blog-text-content .blog-link {
  color: #d67940;
  text-decoration: none;
  cursor: pointer;
  margin-top: 2rem;
}

.blog-card .blog-text-content .blog-link:hover {
  color: #da641c;
}


/* Contact section */

section.contact {
  background-color: #fbf3ee;
}

.contact .contact-details {
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
}

.contact-details .contact-detail {
  margin: 0 auto;
}

.contact-details .contact-detail .icon {
  padding: 1.225rem;
  border: 3px solid #da641c;
  width: 5rem;
  height: 5rem;
  line-height: 1rem;
  margin: 1rem auto;
}

.contact-details .contact-detail .cta-contact {
  font-weight: 700;
  font-size: 1.325rem;
  color: #d67940;
}

.contact-heading a,
.contact-heading a:link,
.contact-heading a:active {
  text-decoration: none;
}

/* Responsiveness */

@media screen and (min-width: 768px) {
  .text-description {
    font-size: 1.425rem;
  }

  .cta-btn {
    padding: 1rem 3rem;
    line-height: 8px;
    border-radius: 4px;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .hero .hero-description {
    margin: 2.65rem auto;
  }

  .hero .hero-text-content {
    text-align: left;
    padding: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .cards-container {
    position: relative;
    top: -100px;
  }

  .about-us {
    margin-top: -30px;
  }

  .cta-btn-container {
    margin: 3rem auto;
    margin-top: 7rem;
    height: auto;
  }

  .blog .cta-btn-container {
    margin: 2rem 0;
  }

  .contact-details .contact-detail .text {
    margin: 1.125rem 0;
  }
}

@media screen and (min-width: 801px) {

  section.hero {
    background-color: #285185;
    background-image: none;
  }

  .hero .hero-image {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("../assets/Hero-image.svg");
    background-repeat: no-repeat;
    background-size: cover
  }

}

@media screen and (min-width: 1024px) {

  section.hero {
    height: 80vh;
  }

  .cards-container {
    position: relative;
    top: -80px;
  }

  .cta-btn {
    padding: 1.115rem 4rem;
    line-height: 8px;
    border-radius: 4px;
  }

  .text-description {
    font-size: 1.625rem;
    line-height: 40px;
  }

  .about-us .about-image-container .img-3 {
    height: 100%;
    max-height: 380px;
  }

  .about-us .about-details {
    line-height: 32px;
    font-size: 20px;
  }

  .about-us .about-us-content {
    padding: 0 2rem;
  }

  .contact-details .contact-detail .icon,
  .contact-details .contact-detail.icon:first-child {
    margin-right: 0;
  }
}